<h1>New Quiz</h1>
<%= form_for @quiz do |f| %>
    <div class="m-4">
        <%= f.label :title %>
        <%= f.text_field :title %><br>
        <%= f.label :Course %>
        <%= f.collection_select :course_id, @courses, :id, :title %> 
    </div><hr>


        <%= f.fields_for :questions do |ff| %>
            <%= ff.label :question %>
            <%= ff.text_field :text, size: "100" %><br><hr>

            <%= ff.fields_for :answers do |fff| %>
                <div class="row m-3">
                    <div class="col">
                        <%= fff.label :answer %>
                        <%= fff.text_field :text %>
                        <%= fff.select :correct, [["Right Answer", true], ["Wrong Answer", false]] %><br>
                    </div>
                </div><hr>

            <% end %>

        <% end %>

    <%= f.submit %>

<% end %><br><br>