<h1><%= @course.title %></h1><hr>
<h4><%= @quiz.title %></h4><hr>
<% if @teacher_session %>
    <% @questions.each do |question| %>
        <p><%= @question_count %>. <%= question.text %></p>
            <% question.answers.each do |answer| %>
                <%= answer.text %> - <%= answer.correct %><br>
            <% end %>
        <% @question_count += 1 %>
        <br>
        <br>
    <% end %>
    <%= button_to "Delete Quiz", @quiz, method: :delete %>
<% else %>
    <% if @quiz_taken == false %>
        <%= form_for :answer_submission, url: quiz_submission_path do |f| %>
            <% @questions.each do |question| %>
                <p><%= @question_count %>. <%= question.text %></p>
                    <%= f.collection_select "answer_id_#{@question_count}", question.answers, :id, :text %>
                <% @question_count += 1 %>
                <br>
                <br>
            <% end %>
            <%= f.submit "Submit Quiz" %>
        <% end %>
    <% else %>
        <h5><%= "You scored #{@percentage}% on this quiz." %></h5>
    <% end %>
<% end %>
<br>
<p><%= link_to "Back to Course", @course %></p>