<h1>Sign Up</h1>
<div class="container">
    <%= form_for @login, url: {action: "create_user"} do |f| %>
        <h3>Login Information</h3>
        <%= f.text_field :username, placeholder: "Username" %><br>
        <%= f.password_field :password, placeholder: "Password" %><br>
        <%= f.password_field :password_confirmation, placeholder: "Confirm Password" %><br><br>
        <%= f.fields_for :student_attributes do |ff| %>
            <h3>Student Information</h3>
            <%= ff.text_field :name, placeholder: "Name" %><br>
            <%= ff.text_field :major, placeholder: "Major" %><br>
        <% end %>
        <%= f.submit "Create Account" %>
    <% end %>
</div>