<% if @lecture.errors.any? %>
  <div class="alert alert-danger">
    <h2>There were some errors:</h2>
    <ul>
      <% @lecture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<h1>Create New Lecture</h1>
<%= form_for @lecture do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %><br>
    <%= f.label :content %>
    <%= f.text_area :content %><br>
    <%= f.label :date %>
    <%= f.date_field :date %><br>
    <%= f.label :course %>
    <%= f.collection_select :course_id, @courses, :id, :number %><br>
    <%= f.submit %>
<% end %>